[Desktop Entry]
Name=Leyen
Comment=Wine/Proton game manager using umu-launcher
Exec=leyen
Icon=com.github.leyen
Terminal=false
Type=Application
Categories=Game;
