[Desktop Entry]
Name=Leyen
GenericName=Game Launcher
Comment=Run Windows games with Proton
Exec=leyen-gtk
Icon=io.github.sachesi.leyen
Terminal=false
Type=Application
Categories=Game;
Keywords=wine;proton;umu;windows;
StartupNotify=true
