[Desktop Entry]
Name=Leyen
Comment=Wine/Proton game manager using umu-launcher
Exec=leyen-gtk
Icon=io.github.sachesi.leyen
StartupWMClass=io.github.sachesi.leyen
Terminal=false
Type=Application
Categories=Game;
